{% extends 'base.html.twig' %}

{% block title %}New EmployeeDesk{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5">
            <h1 class="text-center mb-3">Create new EmployeeDesk</h1>

            {{ include('employee_desk/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
